.example-container {
    position: absolute;
    top: 60px;
    bottom: 60px;
    left: 0;
    right: 0;
  }
  
  .example-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    background: rgba(99, 99, 145, 0.5);
  }
  
  .example-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .example-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  /* Style for mat-list-items */
  .example-list ul {
    padding: 0;
    margin: 0;
}

.example-list li {
    border-bottom: 1px solid #ddd;
    list-style: none;
    padding: 8px 0; /* Add spacing inside each item */
    margin: 4px 0;  /* Creates space between top & bottom borders */
}

.example-list li:first-child {
    border-top: none;
}

.example-list li:last-child {
    border-bottom: none;
}

/* Style the links inside the list */
.example-list a.mat-list-item {
    display: block;
    padding: 12px 16px;
    color: #333;
    text-decoration: none;
}

/* Hover effect */
.example-list a.mat-list-item:hover {
    background-color: #f5f5f5;
}
