<!-- <mat-toolbar class="example-header">Header</mat-toolbar> -->

<mat-sidenav-container class="example-container">
  <!-- Fixed Sidebar -->
  < class="example-container">
    <!-- Fixed Sidebar -->
    <mat-sidenav mode="side" opened class="example-sidenav mt-4  pt-5" fixedInViewport="true">
      <mat-nav-list class="example-list">
        <ul class="list-unstyled">
          <li><a mat-list-item routerLink="/dashboard" routerLinkActive="active">State</a></li>
          <li><a mat-list-item routerLink="/dashboard/society" routerLinkActive="active">District</a></li>
          <li><a mat-list-item routerLink="/dashboard/branch" routerLinkActive="active">Taluka</a></li>
          <li><a mat-list-item routerLink="/dashboard/transaction" routerLinkActive="active">City</a></li>
          
          <li><a mat-list-item routerLink="/dashboard/user" routerLinkActive="active">Location</a></li>
          <li><a mat-list-item routerLink="/dashboard/user" routerLinkActive="active">Religion</a></li>
          <li><a mat-list-item routerLink="/dashboard/user" routerLinkActive="active">Cast</a></li>
          <li><a mat-list-item routerLink="/dashboard/user" routerLinkActive="active">Relation</a></li>
          <li><a mat-list-item routerLink="/dashboard/user" routerLinkActive="active">KYC Documents</a></li>
          <li><a mat-list-item routerLink="/dashboard/user" routerLinkActive="active">Designation</a></li>
          <li><a mat-list-item routerLink="/dashboard/user" routerLinkActive="active">Occupation</a></li>
          <li><a mat-list-item routerLink="/dashboard/user" routerLinkActive="active">Valuator</a></li>
          <li><a mat-list-item routerLink="/dashboard/user" routerLinkActive="active">Head Office</a></li>
  
          <li><a mat-list-item routerLink="/dashboard/user" routerLinkActive="active">Office</a></li>
          <li><a mat-list-item routerLink="/dashboard/user" routerLinkActive="active">Loan Reason</a></li>
          <li><a mat-list-item routerLink="/dashboard/user" routerLinkActive="active">Client Approval</a></li>
        </ul>
      </mat-nav-list>
    </mat-sidenav>  
  
  

  <!-- Main Content -->
  <mat-sidenav-content>
    <div class="content">
      <h2>Dashboard Content</h2>
      <p>This content is outside the fixed sidebar.</p>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <mat-toolbar class="example-footer">Footer</mat-toolbar> -->
